ul {
  li {
    font-size: 20px;
  }
}

div {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-image: url(../images/1.jpg);
}

p {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-image: url(../images/2.jpg);
}